.body{
    width: 75%;
    margin: 30 auto;
    text-align: center;
}

.mr{
    margin-right: 170px;
}

.ml{
    margin-left: 155px;
}

.flex-box-container-1{
    display: flex;
    /* border: 1px solid black; */
    /* padding: 10px; */
    flex-wrap: wrap;
    justify-content: center;
}

.flex-box-container-1 div{
    display: flex;
    padding: 10px;
    /* border: 1px solid black; */
}

.flex-box-container-2{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    /* border: 1px solid black; */
    padding: 10px;
}

.flex-box-container-2 img{
    /* border: 1px solid red; */
    margin-bottom: 15px;;
    width: 30%;
    height: auto;
    box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.5);
}

.flex-box-container-3, .flex-box-pick-color{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    /* border: 1px solid black; */
    padding: 10px;
}

.flex-box-container-3 img{
    /* border: 1px solid red; */
}

.flex-box-container-3 img:hover{
    /* box-shadow: 0px 10px 15px rgba(218, 114, 114, 0.5); */
    -webkit-filter: drop-shadow(5px 5px 5px #0275d8);
    filter:         drop-shadow(5px 5px 5px #0275d8); 
    transform: scale(1.1);
}

.flex-box-container-3 img:active{
    /* box-shadow: 0px 10px 15px rgba(218, 114, 114, 0.5); */
    -webkit-filter: drop-shadow(5px 5px 5px #ffffff);
    filter:         drop-shadow(5px 5px 5px #ffffff); 
    transform: scale(1.0);
}

.flex-box-container-3-label{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.table{
    width: 30%;
    margin: 30px auto;
    text-align: center;
}

.flex-blackjack-row-1, .flex-blackjack-row-2{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background: url('https://cdn.hipwallpaper.com/i/46/65/hEiUkp.jpg');
    background-size: cover;
    color: white;
}

.flex-blackjack-row-1 div{
    /* border: 1px solid black; */
    padding: 10px;
    flex: 1;
    text-align: center;
    height: 300px;
    margin-top: 4%;
}

.flex-blackjack-row-1 img{
    width: 25%;
    padding: 10px;
}

.blackjack-buttons{
    padding: 10px;
}

.generate-button:hover{
    -webkit-filter: drop-shadow(5px 5px 5px #00539b);
    filter:         drop-shadow(5px 5px 5px #00539b); 
    transform: scale(1.1);
}

.generate-button:active{
    -webkit-filter: drop-shadow(5px 5px 5px #ffffff);
    filter:         drop-shadow(5px 5px 5px #ffffff); 
    transform: scale(1.0);
}

.hit-button:hover{
    -webkit-filter: drop-shadow(5px 5px 5px #00539b);
    filter:         drop-shadow(5px 5px 5px #00539b); 
    transform: scale(1.1);
}

.hit-button:active{
    transform: scale(1.0);
}

.stand-button:hover{
    -webkit-filter: drop-shadow(5px 5px 5px #aa7a37);
    filter:         drop-shadow(5px 5px 5px #aa7a37); 
    transform: scale(1.1);
}

.stand-button:active{
    transform: scale(1.0);
}

.deal-button:hover{
    -webkit-filter: drop-shadow(5px 5px 5px #8d3633);
    filter:         drop-shadow(5px 5px 5px #8d3633); 
    transform: scale(1.1);
}

.deal-button:active{
    transform: scale(1.0);
}


